
.mainbody {
    border: 5px solid black;
    height: 70vh;
    width: 70vw;
    margin: auto;
}

button:hover {
    background: linear-gradient(90deg, rgba(2,0,36,0.8) 0%, rgba(9,9,121,0.5) 75%, rgba(0,212,255,1) 100%);
}

.menubar {
    width: 70vw;
    background-color: black;
}

#menubutton {
    float: right;
}

.titletext {
    float: left;
    color: red;
}

.apiButton{

}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    float:right;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  .show {display:block;}

  #cardbodySetup {
    color: red;
  }

  #cardbodyDelivery {
    color: blue;
  }